body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pindetails {
  color: white;
  text-align: left;
  background-color: black;
  border: white;
  border-style: ridge;
  border-radius: 0 20% 0 20%;
  padding: 0 3px 1px 3px;
  position: relative;
  float: left;
  white-space: nowrap;

}

.world {
  margin-left: auto;
  margin-right: auto;

}

.campaign {
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  width:auto
}
