$primary-bg-color: var(--primary-bg-color)
$secondary-bg-color: var(--secondary-bg-color)
$primary-txt-color: var(--primary-txt-color)
$secondary-txt-color: var(--secondary-txt-color)
$primary-lnk-color: var(--primary-lnk-color)
$secondary-lnk-color: var(--secondary-lnk-color)
  
.world
  position: relative
  width: 70%
  height: auto
  margin-left: auto
  margin-right: auto

  img
    width: 100%
    height: auto

.pin
  position: absolute
  height: auto
  width: 2.6%

  img
    height: 100%
    width: 100%

.pin-details
  background-color: #000000
  color: #FFFFFF
  z-index: 10
  text-align: left
  border: white
  border-style: ridge
  padding: 0 3px 1px 3px
  float: left
  position: 
  white-space: nowrap

.campaign 
  margin-left: auto
  margin-right: auto
  width: 75%

.pinSVG
  stroke-width: .1

.icon
  stroke-width: .1

.cutout
  stroke-width: .1
